---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset  "utf-8";
/* Base colors */
$red-dark: #711506;
$red-light: #B12109;
/* Fade effect as function */
@mixin grad($dark, $light) {
    background: $dark;
    background: -webkit-linear-gradient($dark, $light);
    background: -o-linear-gradient($dark, $light);
    background: -moz-linear-gradient($dark, $light);
    background: linear-gradient($dark, $light);
}
@mixin fade($hcol, $ncol) {
    color: $ncol;
    transition: all 1s ease-in-out;
    &:hover {
        transition: all 0.5s ease-in-out;
        color: $hcol;
    }
}

@mixin shadow($color, $radius) {
    -webkit-box-shadow: 0 0 $radius 0 $color;
    -moz-box-shadow: 0 0 $radius 0 $color;
    box-shadow: 0 0 $radius 0 $color;
}

.highlighter-rouge {
  border: none !important;
}

.highlight {
  background: #E6E6E6;
  padding: 5px 10px 5px 10px;
  code{
    padding: 0;
    border: none !important;
  }
}

h1,
h2,
h3,
h4 {
    color: $red-dark;
}
a {
    @include fade($red-light, $red-dark);
}
.minheight {
    min-height: calc(100% - 11rem);
}
/* Imports */
@import 'https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', 'syntax.css', 'octicons/octicons.css', 'foundation.min.css', 'normalize.css', 'menu', 'postprev', 'project', 'side', 'footer', 'about';
