---
layout: default
---
<div class="medium-8 columns">
  <h1 class="page-heading">Posts</h1>
  {% for post in paginator.posts %}
    <a class="previewpost" href="{{ post.url | prepend: site.baseurl }}">
      <article class="post">
        <div class="post-date">
          <p class="post-month">{{ post.date | date: "%b" }}</p>
          <p class="post-day">{{ post.date | date: "%d" }}</p>
        </div>

        <div class="post-desc">
          <h4 class="post-desc-title">{{ post.title }}</h4>
          {% if post.description %}
            {% assign desc = post.description %}
          {% else %}
            {% assign desc = post.excerpt | remove: '<p>' | remove: '</p>' %}
          {% endif %}
          <p class="post-desc-preview">{{ desc | strip_html | truncate: site.quick_view_length, '...' }}</p>
        </div>

      </article>
    </a>
  {% endfor %}
  {% include pagination.html %}

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
  <hr class="small">
</div>

<div class="medium-3 columns" data-sticky-container>
  <div class="sticky side" data-sticky data-anchor="content">
    {% include info.html %}
  </div>
</div>
