<footer class="footer">
    <div class="row">
        <div class="small-12 columns">
            <p class="links">
              {% for legal in site.legal %}
                <a href="{{ legal.url | prepend: site.baseurl }}">{{ legal.title }}</a>
              {% endfor %}
            </p>
            <p class="copywrite">© 2015 -
                <script>
                    document.write(new Date().getFullYear())
                </script>
                by
                <a href="{{ site.baseurl }}/" target="_blank">Felix Döring</a>
            </p>
        </div>
    </div>
</footer>

<!--
<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>



      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="wrapper">
      <div class="small footer-col-wrapper">
        {% for legal in site.legal %}
        <span class="footer-col"><a href="{{ legal.url | prepend: site.baseurl }}">{{ legal.title }}</a></span>
        {% endfor %}
        <div class="copyright">&copy; 2015-2016 Felix Döring</div>
      </div>
    </div>
  </div>

    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>


</footer>
-->
