<ul class="project-listing user">
  {% assign users = site.data.projects.github %}
  {% for user in users %}
  <li>
		<h3>{{ user[0] }}:</h3>
		<ul class="project-listing project">
		{% for repos in user[1] %}
		{% assign repo = repos[1] %}
			<li>
				{% if repo.name %}
				<h4>
					{{ repo.name }}
				</h4>
				{% else %}
				<h4>
					{{ repo.repo }}
				</h4>
				{% endif %}
				<p id="{{ user[0] }}-{{ repo.repo | replace: '.', '' }}"></p>
				<ul class="menu">
					<li>
						<a href="https://github.com/{{ user[0] }}/{{ repo.repo }}/watchers" target="_blank">
							<i class="octicon space">{% include octicons/eye.html %}</i> <span id="{{ user[0] }}-{{ repo.repo | replace: '.', '' }}-watched"></span>
						</a>
					</li>
					<li>
						<a href="https://github.com/{{ user[0] }}/{{ repo.repo }}/stargazers" target="_blank">
							<i class="octicon space">{% include octicons/star.html %}</i> <span id="{{ user[0] }}-{{ repo.repo | replace: '.', '' }}-stared"></span>
						</a>
					</li>
					<li>
						<a href="https://github.com/{{ user[0] }}/{{ repo.repo }}/network" target="_blank">
							<i class="octicon space">{% include octicons/repo-forked.html %}</i><span id="{{ user[0] }}-{{ repo.repo | replace: '.', '' }}-forked"></span>
						</a>
					</li>
				</ul>
				<ul class="menu">
					<li class="menu-text">
						Links:
					</li>
					{% if repo.intern %}
					<li>
						<a href="{{ repo.intern | predend: site.baseurl }}"><i class="fi-page-multiple"></i></a>
					</li>
					{% endif %}
					{% if repo.extern %}
					<li>
						<a href="{{ repo.extern }}" target="_blank"><i class="fi-web"></i></a>
					</li>
					{% endif %}
					<li>
						<a href="{{ repo.repo | prepend: '/' | prepend: user[0] | prepend: 'https://github.com/' }}" target="_blank"><i class="fi-social-github"></i></a>
					</li>
				</ul>
			</li>
		{% endfor %}
		</ul>
	</li>
  {% endfor %}
</ul>
