<header class="grid-x grid-padding-x">
	<nav class="cell grid-x">
		<ul class="title menu small-only-align-center medium-4 cell">
			<li>
				<a href="{{ '/' | prepend: site.baseurl }}">
					<img id="site-logo" src="/images/logo.svg" alt="Site Logo" /> <span>{{ site.title }}</span>
				</a>
			</li>
		</ul>
		<ul class="link menu small-only-align-center medium-align-right medium-8 cell">
			{% assign cururl = page.url %}
			{% if cururl == '/' | prepend: site.baseurl %}
				<li class="is-active">
					<a href="{{ '/' | prepend: site.baseurl }}">Home</a>
				</li>
			{% else %}
				<li>
					<a href="{{ '/' | prepend: site.baseurl }}">Home</a>
				</li>
			{% endif %}
			{% for page in site.pages %}
				{% if page.title %}
					{% if cururl contains page.url | prepend: site.baseurl %}
						<li class="is-active">
							<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
						</li>
					{% else %}
						<li>
							<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
</header>
