{% assign list = site.data.playlists[playlist] %}
<div class="grid-x grid-padding-x">
	<div class="medium-5 large-4 cell">
		<p>
			<img class="playlist-image" src="{{ "/images/playlists/" | prepend: site.baseurl | append: list.image | append: "@0,5x.png" }}" />
		</p>
		<p class="text-center">
			{% if list.amusic %}
			<a class="small hollow button" href="{{ list.amusic }}" target="_blank">
			{% else %}
			<a class="small hollow button" href="#!">
			{% endif %}
				<i class="fa fa-apple"></i>
				<span>Apple Music</span>
			</a>
			{% if list.spotify %}
			<a class="small hollow button" href="{{ list.spotify }}" target="_blank">
			{% else %}
			<a class="small hollow button" href="#!">
			{% endif %}
				<i class="fa fa-spotify"></i>
				<span>Spotify</span>
			</a>
		</p>
	</div>
	<div class="medium-7 large-8 cell">
		{% if list.tracks %}
		<ol>
			{% for track in list.tracks %}
			<li>
				{{ track[1].title }} - {{ track[1].artist }}
			</li>
			{% endfor %}
		</ol>
		{% else %}
		<p>
			There are no further information.
		</p>
		{% endif %}
	</div>
</div>
