<div class="project-meta small">
  {% unless project %}
    {% assign project = page %}
  {% endunless %}

  {% if project.author %}
    <p>Autor: <span class="project-author">{{ project.author }}</span></p>
  {% endif %}

  {% if project.date %}
    <p>erstellt am <span class="project-date">{{ project.date | date: "%d. %m. %Y" }}</span></p>
  {% endif %}

  {% if project.languages %}
    <p><b>Sprache{% if project.languages.size > 1 %}n{% endif %}:
      <span class="languages">
        {{ project.languages | join: ", " }}
      </span>
    </b></p>
  {% endif %}

  {% if project.status %}
    {% if project.status == "development" %}
      <p><b>Aktueller Status:</b> <span class="project-status" style="color:orange">&#x25cf  <b>in Entwicklung</b></span></p>
    {% elsif project.status == "released" %}
      <p><b>Aktueller Status:</b> <span class="project-status" style="color:green">&#x25cf  <b>Veröffentlicht</b></span></p>
    {% elsif project.status == "canceled" %}
      <p><b>Aktueller Status:</b> <span class="project-status" style="color:rgb(173, 33, 9)">&#x25cf  <b>wird nicht fortgeführt</b></span></p>
    {% else %}
      <p><b>Aktueller Status:</b> <span class="project-status">&#x25cf  <b>Unbekannt</b></span></p>
    {% endif %}
  {% else %}
    <p><b>Aktueller Status:</b> <span class="project-status">&#x25cf  <b>Unbekannt</b></span></p>
  {% endif %}

  {% if project.github_link %}
    <p><a href="https://github.com/{{ project.github_link }}">Repository auf GitHub</a></p>
  {% endif %}

  {% if project.documentation and project.documentation.link %}
    <p><a href="{{ project.documentation.link }}">GitHub-Pages von {{project.title}}</a>
      {% if project.documentation.host %}on {{ project.documentation.host }}{% endif %}
    </p>
  {% endif %}
</div>
