<div class="project-meta">
  {% unless project %}
    {% assign project = page %}
  {% endunless %}

  <h2>Project-Info:</h2>

	<ul class="menu">
	{% if project.languages %}
		<li class="menu-text">
    	Language{% if project.languages.size > 1 %}s{% endif %}:
      <span class="languages">
        {{ project.languages | join: ", " }}
      </span>
    </li>
  {% endif %}

  {% if project.status %}
    {% if project.status == "development" %}
      <li class="menu-text">
				Status: <span class="dev">&#x25cf  in development</span>
			</li>
    {% elsif project.status == "released" %}
			<li class="menu-text">
				Status: <span class="released">&#x25cf  released</span>
			</li>
    {% elsif project.status == "canceled" %}
      <li class="menu-text">
				Status: <span class="canceled">&#x25cf  project canceled</span>
			</li>
    {% else %}
      <li class="menu-text">
				Status: <span class="project-status">&#x25cf  Unbekannt</span>
			</li>
    {% endif %}
  {% else %}
    <li class="menu-text">
			Status: <span class="project-status">&#x25cf  Unbekannt</span>
		</li>
  {% endif %}

  {% if project.github_link %}
    <li>
			<a href="https://github.com/{{ project.github_link }}" target="_blank">Repository on GitHub</a>
		</li>
  {% endif %}
	</ul>
</div>
