.footer-bottom {
  border-top: 1px solid $red-color;
  padding: 15px 0;
}

.copyright {
  float: right;
  display: inline-block;
  margin: 0 15px;
}

.homesvg {
  display: inline;
  margin: 0 8px;
}

.homelink {
  display: inline;
  margin: 0 8px;
  vertical-align: auto;
}
