.footer-bottom {
  border-top: 1px solid $red-color;
  padding: 5px 0;
}

.copyright {
  float: right;
  display: inline-block;
  margin: 0 15px;
}

.homesvg {
  display: inline;
  margin: 0 8px;
}

.homelink {
  display: inline;
  margin: 0 8px;
  vertical-align: auto;
}

.github-repo-overview .repository {
  margin: 25px;
}

.repository-statistics > span {
  margin-right: 25px;
}
