.menu {
    margin: 0 0.5rem;
    border-bottom: 1px solid $red-dark;
    padding: 1.25rem 2rem;
    height: auto;
    .inline-list {
        text-align: center;
        li {
            float: none;
            display: inline-block;
        }
        a {
            @include fade($red-light, $red-dark);
            padding-bottom: 0.5rem;
            margin-left: 0.5rem;
        }
        .active a {
            color: $red-light;
            background: white;
        }
    }
    @media only screen and (min-width: 40.063em) {
        height: 4rem;
        .inline-list {
            float: right;
        }
    }
}
.logo {
    height: 1.5rem;
    width: auto;
    display: inline;
    .logo-image {
        height: 1.5rem;
        width: 1.5rem;
        background-size: 1.5rem 1.5rem;
        background-image: url("../images/logo.svg");
        display: none;
        @media only screen and (min-width: 40.063em) {
            display: inline;
            float: left;
            text-align: center;
        }
    }
    .name {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1;
        margin: 0 0 1rem 0.5rem;
        color: $red-dark;
        @media only screen and (min-width: 40.063em) {
            float: left;
        }
    }
}
