.playlist {
	margin-bottom: 2.5rem;
	h2 {
		margin-top: 1rem;
		@include breakpoint(medium up) {
			margin-bottom: 4rem;
		}
	}
}

.playlist-container {
	margin-top: 2rem;
	border-bottom: 1px solid $primary-color
}

.upcomming-playlist-container {
	margin-top: .5rem;
}
