#privacy-statement{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $white;
    border-top: 1px solid $secondary-color;
    padding-top: 1rem;
    @include shadow($secondary-color, 3px);
    .container {
        max-width: 75rem;
        margin: 0 auto;
    }
    .privacy-notice {
        line-height: 2em;
    }
}
