.project-meta {
	display: block;
	margin-top: 0.25rem;
}
.colored {
	border-color: $primary-color;
}
.dev {
	color: orange;
}
.released {
	color: green;
}
.canceled {
	color: $secondary-color;
}
.users {
	padding-left: 1rem;
}
.line {
	margin: 0 0.5rem 0 ,5rem;
}
.space {
  	  margin-left: 0.5rem;
}
.project-listing {
	list-style-type: none;
	h3 {
		margin-top: 2rem;
	}
	.project-listing > li {
		border-bottom: 1px solid transparentize($primary-color, 0.7);
		padding: 2rem 0;
	}
}
